{{!-- <div id="singleNote"> --}}
	<h3 id="ntitle">Title: {{note.title}}</h3>
	<ul>
		<li id="nsumm">Summary: {{{note.summary}}}</li>
		<li id="ndd">Due Date: {{note.due_date}}</li>
		<li id="nbody">Body: {{{note.body}}}</li>
		<li id="nid">Note ID: {{note.id}}</li>
	</ul>
	<div>
		<a href="../../">Note List</a>
	</div>
	<button type="button" class="btn btn-default btn-sm" id="nbut">
	<span class="glyphicon" aria-hidden="true"></span> Next
	</button>
{{!-- </div> --}}

