<h1>User: {{alias}}</h1>


<h2>Username:- </h2>
<h3>{{username}}</h3>

<h2>First Name:-</h2>
<h3>{{firstName}}</h3>

<h2>Last Name:-</h2>
<h3>{{lastName}}</h3>

<h2>Profession:-</h2>
<h3>{{profession}}</h3>

<h2>Bio:-</h2>
<h3>{{bio}}</h3>